body {
    background: #ddc;
}

    /*header styling*/
.header {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:x-large;
    color: darkgreen;
    text-align: center;
    display: inline
}

    /*search bar styling*/
.search-div {
    overflow: hidden;
    background-color: #333;
    color: #f2f2f2;
    width: 100%;
    padding: 14px 16px;
    border: 1px solid #ddd;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.search-div form {
    float: left;
    text-decoration: none;

}
#submit-button {
    border-radius: 10%;
    margin: 10px;
    font-size: 19px;
}
button {
    border-radius: 10%;
    margin: 10px;
    font-size: 19px;

}
.create {
    float: right;


}

/*main contents styling*/
.column {
    float: left;
    margin: 5px;
    padding: 15px;
}

/*playlist sidebar styling*/
.left {
    flex: 32%;
    border: 1px solid black;
    position: relative;
    display: inline
}
.playlists {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.playlist-item {
    padding: 12px;
    text-decoration: none;
    color: black;
    display: block
}

/*search result and track card styling*/
.right {
    /* flex: 68%; */
    /* position: relative;
    display:inline; */
}
.search-result {
    width: 100%;
    display: block;
}
.track-card {
    border: 1px solid black; 
    margin:20px auto 10px auto;
    padding: 10px
}


/* .row:after {
    content: "";
    display: table;
    clear: both;
} */

/* .temp {
    font-family: Arial, Helvetica, sans-serif;
} */